<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>EnableC6</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>Latency</key>
			<integer>250</integer>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddMCFG_0008</key>
				<false/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FixAirport_4000</key>
				<true/>
				<key>FixDarwin_0002</key>
				<true/>
				<key>FixDisplay_0100</key>
				<true/>
				<key>FixFirewire_0800</key>
				<false/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixLAN_2000</key>
				<false/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixSBUS_0080</key>
				<true/>
				<key>FixShutdown_0004</key>
				<false/>
				<key>FixUSB_1000</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Fast</key>
		<false/>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<string>-1</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Inject</key>
		<false/>
		<key>FakeID</key>
		<dict>
			<key>WIFI</key>
			<string>0x002a168c</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>12</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>applestyle</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>0</integer>
		<key>FBName</key>
		<string>Hoolock</string>
		<key>InjectEDID</key>
		<true/>
		<key>LoadVBios</key>
		<true/>
		<key>PatchVBios</key>
		<true/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>ATIConnectorsController</key>
		<string>5000</string>
		<key>ATIConnectorsData</key>
		<string>000400000406000000010000210305010004000004060000000100001102040204000000140200000001000002040103</string>
		<key>ATIConnectorsPatch</key>
		<string>020000004000000009010000100000070008000000020000007100001102010110000000100000000000000000100204</string>
		<key>AppleRTC</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>ADI 1984 -&gt; cx20585</string>
				<key>Find</key>
				<string>8419D411</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<string>6950F114</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xml -&gt; zml</string>
				<key>Find</key>
				<string>786D6C2E7A6C</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<string>7A6D6C2E7A6C</string>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>LogEveryBoot</key>
		<string>10</string>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>MountEFI</key>
		<true/>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/22/11</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP61.88Z.0057.B0C.1007261552</string>
		<key>Board-ID</key>
		<string>Mac-F22586C8</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<string>Yes</string>
		<key>ProductName</key>
		<string>MacBookPro6,2</string>
		<key>SerialNumber</key>
		<string>CY034G1CAGW</string>
	</dict>
	<key>SSDT</key>
	<dict>
		<key>DropOem</key>
		<false/>
		<key>Generate</key>
		<false/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<false/>
	</dict>
</dict>
</plist>
